<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body>
    {% include "partials/header.njk" %}
    
    <main>
      {% block main %}
        <div class="container">
          {{ content | safe }}
        </div>
      {% endblock %}
    </main>

    <dialog id="dialog">
      <img src="" alt="" id="dialog-img">
      <button class="dialog-close" aria-label="Close full image preview dialog">Close</button>
    </dialog>

    {% include "partials/footer.njk" %}
    <script>
      {% include "partials/script.js" %}
      {% block script -%}
      {% endblock -%}
    </script>
  </body>
</html>
