:root {
  --bg-color: #fafafa;
  --text-color: #212121;
  --primary: #2196f3;
}

::selection {
  background-color: bisque;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 1em;
}

.container {
  width: min(100%, 1300px);
  margin: auto;
}

footer a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.7;
  transition: opacity 250ms;
}

footer a:hover {
  opacity: 1;
  animation: color 1s ease-out alternate-reverse infinite;
}

footer a:before {
  content: "@";
  position: absolute;
  left: -1.7ch;
  opacity: 0;
  transition: opacity ease-out 250ms 0ms;
}

footer a:hover::before {
  opacity: 1;
}

@keyframes color {
  0% {
    color: #c71585;
  }
  25% {
    color: #3cb371;
  }
  50% {
    color: #7b68ee;
  }
  75% {
    color: #d87093;
  }
  100% {
    color: #9370d8
  }
}

svg:focus {
  outline: solid 1px var(--text-color);
  outline-offset: 2px;
}