---
permalink: "/style/main.css"
styles:
  - reset
  - base
  - header
  - home
  - blog
  - article
  - utils
  - responsive
---

{% for style in styles %}
  {% include "style/" + style + ".css" %}
{% endfor %}